@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register - Your Blog</title>
    <link rel="stylesheet" href="/css/login-register.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form method="post" class="register-form">
                <h1>Register</h1>
                <div class="input-group">
                    <input type="email" name="email" id="email" placeholder="Email" asp-for="RegisterViewModel.Email">
                    <span asp-validation-for="RegisterViewModel.Email" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <input type="password" name="password" id="password" placeholder="Password" asp-for="RegisterViewModel.Password">
                    <span asp-validation-for="RegisterViewModel.Password" class="text-danger"></span>
                </div>
                <button type="submit">Register</button>
            </form>
            <div class="switch">
                <p>Already have an account? <a href="/User/Login">Login</a></p>
            </div>
        </div>
    </div>    
</body>
</html>